<div class="container-fluid text-center bg-info">
    <p>Find me on social media.</p>
    <a href="https://www.facebook.com/bafantastic" blank="_blank"><i class="fa fa-facebook-official"></i></a>
    <i class="fa fa-instagram "></i>
    <i class="fa fa-snapchat "></i>
    <i class="fa fa-pinterest-p"></i>
    <a href=""><i class="fa fa-twitter "></i></a>
    <a href="https://www.linkedin.com/in/ahmednowar/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <p>Powered by <a href="http://AhmedShaban.somee.com" target="_blank">ahmedshaban.some.com</a></p>
</div>
