

<div class="row">
  <!-- <app-header></app-header> -->
</div>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-2 border shadow-lg bg-light rounded p-3"></app-sidebar>
    <!-- <app-home class="col-9 border shadow-lg bg-light rounded p-3"></app-home> -->
    <!-- <app-product class="col-9 border shadow-lg bg-light rounded p-3"></app-product> -->

    <!-- <app-order class="col-10 border shadow-lg bg-light rounded p-3"></app-order> -->

    <!-- take path from app-routing mondule -->
    <div class="col-10"><router-outlet></router-outlet></div>
  </div>
</div>

<div class="row">
  <app-footer></app-footer>
</div>
